@model IEnumerable<Productos>

<h2>Lista de Productos</h2>

<p>
    <a asp-action="CrearProducto" class="btn btn-primary">Agregar Producto</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoría</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.nombre</td>
                <td>@producto.precio</td>
                <td>@producto.Stock</td>
                <td>@producto.categoriaId</td>
                <td><img src="@producto.imagenUrl" width="50" /></td>
                <td>
                    <a asp-action="EliminarProducto" asp-route-id="@producto.id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
