@model List<Productos>
<h2>Lista de Productos</h2>

<p>
    <a asp-action="CrearProducto" class="btn btn-primary">Agregar Producto</a>
    <a asp-action="Panel" class="btn btn-success"><i class="bi bi-plus-lg me-1"></i>Volver al Panel</a>
</p>
<form asp-action="ActualizarLista" method="post">
    @Html.AntiForgeryToken()
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th style="width:140px;">Precio</th>
                <th style="width:120px;">Stock</th>
                <th style="width:220px;">Categoría</th>
                <th style="width:320px;">Imagen</th>
                <th style="width:110px;">Guardar</th>
                <th style="width:110px;">Eliminar</th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        <input name="[@i].nombre" value="@Model[i].nombre" class="form-control" />
                        <input type="hidden" name="[@i].id" value="@Model[i].id" />
                    </td>
                
                    <td>
                        <input name="[@i].precio" type="number" step="0.01" value="@Model[i].precio" class="form-control" />
                    </td>

                    <td>
                        <input name="[@i].Stock" type="number" value="@Model[i].Stock" class="form-control" />
                    </td>

                    <td>
                        <select name="[@i].categoriaId" class="form-select">
                            <option value="1" selected="@(Model[i].categoriaId == 1)">Medicamentos</option>
                            <option value="2" selected="@(Model[i].categoriaId == 2)">Perfumería</option>
                            <option value="3" selected="@(Model[i].categoriaId == 3)">Cuidado Personal</option>
                        </select>
                    </td>

                    <td>
                        <input name="[@i].imagenUrl" value="@Model[i].imagenUrl" class="form-control mb-1" />
                        <img src="@(!string.IsNullOrEmpty(Model[i].imagenUrl) ? "/Images/default.png" : Model[i].imagenUrl)"
                             width="80" height="80" />
                    </td>

                    <td>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </td>

                    <td>
                        <form asp-action="EliminarProducto" asp-route-id="@Model[i].id" method="post" onsubmit="return confirm('¿Eliminar este producto?');">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>